body, html {
    height: 100%;
    margin: 0;
}

img, embed, a{
    max-width: 100%;
    max-height: 100%;
    display: none;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}


.bg-image {
    background-image: url("background.jpg");

    filter: blur(9px);
    -webkit-filter: blur(9px);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
}

.title {
    padding-bottom: 60px;
    width: 100%;
}

.soon {
    padding-bottom: 20px;
    width: 50%;
}

.bar {
    padding-bottom: 10px;
    width: 90%;
}

.progress {
    margin: 20px auto;
    padding: 2px;
    width: 90%;
    max-width: 90%;
    border: 3px solid white;
    height: 20px;
    display: none;
  }
  
  .progress .progress__bar {
    height: 100%;
    width: 0%;
    background-color: white;
    animation: fill-bar 4s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fill-bar {
    from {width: 0%;}
    to {width: 85%;}
  }

.instagram {
    width: 8%;
}

.visible {
    display: block;
}

@media screen and (min-width: 768px) {
    .title {
        padding-bottom: 100px;
        width: 50%;
    }
    
    .soon {
        padding-bottom: 50px;
        width: 30%;
    }
    
    .bar {
        padding-bottom: 40px;
        width: 65%;
    }

    .progress {
        margin: 50px auto;
        height: 40px;
        border: 5px solid white;
    }
    
    .instagram {
        width: 4%;
    }
}

.instagram:hover {
    background: rgba(0, 0, 0, 0.6);
}


